.ingredient-grid {
    /* 网格布局 */
    display: grid;
    /* repeat() 函数表示轨道列表的重复片段，允许以更紧凑的形式写入大量显示重复模式的列或行。 */
    grid-template-columns: repeat(2, auto);
    /* 行的间隔 */
    row-gap: 5px;
    /* 列的间隔 */
    column-gap: 40px;
    justify-content: flex-start;
}